apiVersion: v1
kind: Service
metadata:
  name: postgresql-primary
  namespace: postgresql-primary
  labels:
    app: postgresql-primary
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: postgresql
      protocol: TCP
      name: postgresql
  selector:
    app: postgresql-primary

