apiVersion: v1
kind: Service
metadata:
  name: pgpool
  namespace: postgresql-pgpool
  labels:
    app: pgpool
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: pgpool
    protocol: TCP
    name: pgpool
  selector:
    app: pgpool
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800

