apiVersion: v1
kind: Service
metadata:
  name: postgresql-backup
  namespace: postgresql-backup
  labels:
    app: postgresql-backup
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: postgresql
      protocol: TCP
      name: postgresql
  selector:
    app: postgresql-backup

